.navbar {
    position: fixed;
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  .nav-tittle{
    margin-left: 2%;
   
    cursor: pointer;
    text-decoration: none;
  }
  .nav-tittle h2{
      font-size: 2rem;
      color: #fff;
      letter-spacing: 1px;
  }
  .trends__search {
    position: fixed;
    width: 20%;
    top: 13px;
    right: 15px;
    /* border-bottom: 1px solid #e6ecf0; */
    padding-bottom: 20px;
    margin-left: 20px;
  }
  .trends__search input::placeholder{
    color: rgb(175, 175, 175); /*#1da1f2*/
    font-size: 18px;
  }
  .trend__control {
    border: 2px solid #fff;
    width: 90%;
    margin-left: 20px;
    outline: none;
    background: transparent;
    border-radius: 50px;
    padding: 15px 50px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;

  }
  .trend__icon {
    position: absolute;
    top: 15px;
    left: 40px;
    
  }
  .trend__icon .search {
    font-size: 18px;
  }